<%- include('./partials/_head') %>
    <%- include('./partials/_header') %>
<main class="container-fluid order-layout col-md-8 offset-2 justify-content-center">
  <article class="user-orders">
    <div>
      <p class="h4">Your Orders</p>
    </div>
    <div>
      <table class="table table-striped">
        <tr>
          <th>Order #</th>
          <th>Order</th>
          <th>Order Time</th>
          <th>Order Pre-time</th>
        </tr>
        <tbody id="your-orders">
          <% orders.forEach(order => { %>
            <tr>
              <td><%= order.id %> </td>
              <td><%= order.dish_list %></td>
              <td><%= order.start_at %> </td>
              <td><%= order.duration === 0 ? "pending" : order.duration +" min"%> </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </article>
</main>
<%- include('./partials/_footer') %>
