<%- include('./partials/_head') %>
    <%- include('./partials/_header') %>
<main class="container-fluid order-layout col-10 offset-1 justify-content-center">
  <article class="user-orders">
    <div>
      <p class="h4">Your Orders</p>
    </div>
    <div>
      <table class="table table-striped">
        <tr>
          <th>Order #</th>
          <th>Order</th>
          <th>Order Time</th>
          <th>Order Pre-time</th>
        </tr>
        <tbody id="your-orders">
          <% orders.forEach(order => { %>
            <tr>
              <td><%= order.id %> </td>
              <td>
                <%= orderList[order.id].beef !== undefined ? `Beef(${orderList[order.id].beef})` : null%>
                <%= orderList[order.id].chicken !== undefined ? `, Chicken(${orderList[order.id].beef})` : null%>
                <%= orderList[order.id].shrimp !== undefined ? `, Shrimp(${orderList[order.id].beef})` : null%>
              </td>
              <td><%= order.start_time %> </td>
              <td><%= order.duration === 0 ? "pending" : order.duration +" min"%> </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </article>
</main>
<%- include('./partials/_footer') %>
